.cards {
    @include center-block(2.5rem);
    max-width: 55%;


    .card {
        display: inline-block;
        margin: 0 auto;
    
        height: 7rem;
        width: 5rem;
        @media(max-width: $tablet){
            height: 4rem;
            width: 3rem;
        }
        // background-color: $color-gray-5;
        &:not(:first-child){
            margin-left: 1rem;
        }
        img{
            @include max-100;
        }
    }
}
.card-hand{
    color: $color-gray-5;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.card-string{
    display: block;
}