.modal-title{
    @include center-block;
    width: 55rem;
    margin: 3.5rem auto;
    h1 {
        text-align: center;
        display: inline-block;
    }
    .modal-hero{

        position: relative;
        display: inline-block;
        margin-right: 1.5rem;
        top:3rem;
        width: 8rem;
    
    }
}

.modal_closing-icon{
    position: relative;
    transition: all .5s ease;
    top: -80px;

    padding: 0px;
    width: 2.5rem;
    height: 2rem;
    cursor: pointer;
    float: right;

    span {
        width: 2.5rem;
        height:.2rem;
        border-radius: 8px;
        background-color: $color-white;
        display: block;
        position: absolute;
        top: 1rem;
   
        &:nth-child(1){
            transform: rotate(-45deg) ;

        }
        &:nth-child(2){
            transform: rotate(45deg) ;
    
         
        }
       
     
        
    }
    &:hover{
        transform: scale(2);
        &:nth-child(1){
            transform: rotate(-180deg);
        
        }
        &:nth-child(2){
            transform: rotate(180deg);
         
        }
    }
  
}

.modal {
position: absolute;
content: '';
height: 100%;
width: 100%;
background-color: rgba(0,0,0,.9);
z-index: 999;
    &__con{
        position: relative;
        width: 100%;
        min-height: 50rem;
   
        margin-top: 10%;
        &__card{
            @include center-block;
            background-color: #fff;
            border-radius: 4px;
            // padding: 1.5rem;
            max-width: 90%;
            width: $container-width;
            color: $color-gray-5;
            padding: 5rem 0;
        }
    }
    .accordian{
        @include center-block;
        width: 100%;
        padding: 15px;
        height: auto;
        overflow: hidden;
   
        // &__inner {
 
        //     border-bottom: 1px solid $color-gray-3;
        //     list-style: none;
        //     height: auto;
        //     overflow: hidden;

        // }

       &__outer {
            min-height: 100px;
            position: relative;
            top: 0;
            float: left;
            width: 24%;
            margin:0;
            cursor: pointer;
          
       

        }
        &__inner{
            transition: all .2s ease;
            &__title{
                border-bottom: 1px solid $color-gray-3;
                padding:1rem;
            }
         
            &__content{
                display: none;
                margin-top: 1rem;
                padding: 0 1rem;
                animation-name: unset;
                opacity: 1;
                font-weight: 300;
                animation-fill-mode: forwards;
            }
        
        }
        .active{
    
            border-left: 1px solid $color-gray-3;
            border-right: 1px solid $color-gray-3;
            border-top: 1px solid $color-gray-3;
            border-bottom:none;
            background-color: $color-white;
            position: relative;
            margin-left: -.2rem;

        }
        & p {
            font-size:  1.2rem;
        }
       
    

    }

}
