@mixin center-block($x: 0px ){
    margin: $x auto;
    display: block;
}
@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear:both;
    }
}
@mixin max-100{
    width: 100%;
    max-width: 100%;
}
@mixin btn-physics($x: 1.2, $y:  1.5){
    &:active{
        transform: translateY(1px);
        box-shadow: .2rem .2rem .5rem rgba(0,0,0,.4);
    }
    &:hover::after{
        transform: scaleX($x) scaleY($y);
        opacity: 0;
        z-index: -1;
      
    }
}