$color-1: #38424b;
$color-2: #2c2e33;
$color-3: #f2007f;

$color-ios-blue: rgba(0,122,255,1);
$color-ios-teal: rgba(90,200,250,1);
$color-ios-purple: rgba(88,86,214,1);
$color-ios-pink: rgba(255,45,85,1);
$color-ios-green: rgba(76,217,100,1);
$color-ios-orange: rgba(255,149,0,1);


$color-white: #fafafa;
$color-gray-1:#f7f7f7;
$color-gray-2:#e7e7e7;
$color-gray-3:#dddddd;
$color-gray-4:#bbbbbb;
$color-gray-5:#666666;
$color-black: #333333;


$container-width: 140rem;

$gutter-horz-lg: 6.5rem;
$gutter-horz-md: 4.5rem;
$gutter-horz-sm: 2.5rem;
$gutter-horz-none: 0rem;


$pad-sm: 1.5rem;


$edge: 15px;
$mobile-width: calc(100% - (#{$edge} * 2));
$switch-width: 1080px;
$tablet: 768px;
$mobile: 480px;