@keyframes rotateFront {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(-180deg); } }

@keyframes rotateBack {
  0% {
    transform: rotateY(180deg); }
  100% {
    transform: rotateY(0deg); } }

@keyframes rotateFrontRev {
  0% {
    transform: rotateY(-180deg); }
  100% {
    transform: rotateY(0deg); } }

@keyframes rotateBackRev {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(180deg); } }

* {
  margin: 0px;
  padding: 0px; }

body {
  background-image: url(../../../images/js.jpg); }

body {
  font-family: Montserrat, sans-serif;
  font-size: 1.6rem; }

html {
  font-size: 62.5%; }

h1, h2, h3, h4, h5, h6, p, span {
  color: #666666; }

h1 {
  font-size: 4.2rem;
  font-weight: 300;
  text-transform: uppercase; }

h2 {
  font-size: 9.5rem !important;
  font-weight: 300;
  text-transform: uppercase; }

h6 {
  font-size: .9rem; }

.fine-text {
  font-family: Quicksand, sans-serif;
  color: #bbbbbb;
  font-size: 1.1rem; }

.u-center-text {
  text-align: center; }

.btn {
  padding: .5rem 1rem;
  width: 20rem;
  margin: 0 1.5rem;
  background-color: #fafafa;
  border-radius: 25px;
  border: 1px solid #f2007f;
  color: #f2007f;
  cursor: pointer;
  transition: all .4s;
  position: relative; }
  .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
    color: #fafafa;
    background-color: #f2007f; }
  .btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f2007f;
    border-radius: 25px;
    transition: all .7s ease;
    z-index: -1;
    opacity: .5; }
  .btn:active {
    transform: translateY(1px);
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4); }
  .btn:hover::after {
    transform: scaleX(1.2) scaleY(1.5);
    opacity: 0; }

.testing {
  height: 50px; }

.row {
  width: 100%; }
  .row::after {
    content: "";
    display: table;
    clear: both; }

.container {
  width: 140rem;
  margin: 0px auto;
  display: block;
  background-color: #ddd; }

[class^='col']:not(:last-child) {
  margin-right: 4.5rem; }

.col {
  background-color: #ff2d55; }
  .col-1-of-2 {
    width: calc((100% - 4.5rem * 1) / 2);
    float: left; }
  .col-1-of-3 {
    width: calc((100% - 4.5rem * 2) / 3);
    float: left; }
  .col-1-of-4 {
    width: calc((100% - 4.5rem * 3) / 4);
    float: left; }
  .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 4.5rem) / 3) + 4.5rem);
    float: left; }

.rules {
  text-align: center; }

.hud {
  position: relative;
  height: 45rem;
  margin: 15vh auto 0 auto;
  background-color: #f7f7f7;
  border: #e7e7e7 solid 1px;
  border-radius: 4px;
  padding: 1.5rem; }

.black-jack-title-con {
  position: absolute;
  margin: 0px auto;
  display: block;
  top: -2.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  width: 30rem;
  height: 30rem; }

.black-jack-title {
  position: relative;
  width: 30rem;
  height: 30rem;
  perspective: 85rem;
  -moz-perspective: 85rem; }
  .black-jack-title .title-common {
    position: absolute;
    height: 30rem;
    width: 30rem;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: all 1.5s ease; }
    .black-jack-title .title-common img {
      width: 100%;
      max-width: 100%; }
  .black-jack-title-front {
    animation-name: unset;
    animation-duration: 2s;
    animation-fill-mode: forwards; }
  .black-jack-title-back {
    z-index: -1;
    animation-name: unset;
    animation-duration: 2s;
    animation-fill-mode: forwards; }

.cards {
  margin: 2.5rem auto;
  display: block;
  max-width: 55%; }
  .cards .card {
    display: inline-block;
    margin: 0 auto;
    height: 7rem;
    width: 5rem;
    background-color: #666666; }
    .cards .card:not(:first-child) {
      margin-left: 1rem; }
    .cards .card img {
      width: 100%;
      max-width: 100%; }

.card-string {
  display: block; }

.player-box {
  text-align: center; }

#player-total-cash, #dealer-total-cash {
  display: none; }

.controls {
  width: 100%;
  margin: 4rem 0;
  text-align: center; }

footer {
  background-color: #fafafa;
  height: 85px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: #e7e7e7 1px solid;
  padding: 1.5rem; }

.disclosure {
  margin: 0px auto;
  display: block;
  width: 45rem;
  text-align: center; }
