
.rules{
    text-align: center;
}
.hud {
    //testing

    // in use
    position: relative;
    height: 45rem;
     margin: 15vh auto 0 auto;
     background-color: $color-gray-1;
     border: $color-gray-2 solid 1px;
     border-radius: 4px;
    //  padding: $pad-sm;
     .hud-active-player{
         display: block;
     }

}

.player-box{
    //testing
    // margin-top: 4rem;

    // in use
    text-align: center;
    position: relative;
    z-index: 9;
    position: relative;

    &-active{
        background: linear-gradient(180deg, rgba(0,0,0,.19),rgba(0,0,0,.05));
        height: 100%;
    }
    .player{
        //testing
        // background-color: $color-white;
        
        //in use
        @include center-block;
        position: relative;

        width: 26rem;

        .player-active{
            position: absolute;
            display: block;
            top: 1.5rem;
            left: 1.5rem;
            width: 2rem;
            height: 2rem;
            background-color: $color-ios-pink;
            display: block;
            border-radius: 5rem;
        
        }
    }

}

#player-total-cash, #dealer-total-cash{
    display: none;
}

.controls {
    width: 100%;
    // background-color: $color-gray-2;
    margin: 4rem 0;
    text-align: center;
}
footer{
    background-color: $color-white;
    height: 85px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: $color-gray-2 1px solid;
    padding: 1.5rem;
}
.disclosure {
@include center-block;
width: 45rem;
text-align: center;

}

